<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load static %}
		<link href="{% static 'socialnetwork/base.css' %}" rel="stylesheet" type="text/css">
		<title> {% block title %} Blog Master {% endblock %} </title>
	</head>

	<body>
		<div class="head_div" id="id_header_div">
			<h1 id="id_site_name">Blog Master</h1>
			<div class="nav-info">
				{% block nav-info %}
				{% endblock %}
			</div>
		</div>

	    <div class="content">
		    {% block content %}
		    {% endblock %}
		</div>
	</body>
</html>