{% extends "socialnetwork/base.html" %}


{% block nav-info %}
    <div>
        <a href="{% url 'myProfile' %}" id="id_nav_profile">
            <button>{{ request.user.first_name }} {{request.user.last_name}}</button>
        </a>
    </div></br>
    <div>
        <a href="{% url 'global' %}" id="id_nav_global_stream">
            <button>Global</button>
        </a>
        <a href="{% url 'follower' %}" id="id_nav_follower_stream">
            <button>Follower</button>
        </a>
        <a href="{% url 'login' %}" id="id_nav_logout">
            <button>Logout</button>
        </a>
    </div>
    
{% endblock %}

{% block content %}
<h1 id="id_page_name">Follower Stream</p>

    <form method="post" action="{% url 'global' %}">
            <label>New Post:</label>
            <input type="text" name="new_post" id="id_post_input_text">
            <button type="submit" id="id_post_button">Submit</button>
            <div class="post" id="id_post_div_1">
                <div class="post_content">Posted by 
                    <a href="{% url 'myProfile' %}" id="id_post_profile_1">{{ request.user.first_name }} {{request.user.last_name}}</a>
                    <span id="id_post_text_1"> - I will start HW5 as long as I finish HW4 </span>
                    --<span class="date" id="id_post_date_time_1">2/17/2022 9:00 PM</span>
                </div>
                <div id="id_comment_div_1" class="comment"> Commented by 
                    <a href="{% url 'otherProfile' %}" id="id_comment_profile_1">Yuyang Hu</a>
                    <span id="id_comment_text_1"> - But we are so tired now</span>
                    --<span class="date" id="id_comment_date_time_1"> 2/17/2022 9:14 PM</span>
                </div>
                <label>Comment:</label>
                <input type="text" name="new_comment" id="id_comment_input_text_1">
                <button type="submit" id="id_comment_button_1">Submit</button>
            </div>
        
        {% csrf_token %}
    </form>
{% endblock %}