{% extends "socialnetwork/base.html" %}


{% block nav-info %}
    <div>
        <a href="{% url 'login' %}" id="id_nav_logout">
            <button class="nav_button">Logout</button>
        </a>
        <a href="{% url 'global' %}" id="id_nav_global_stream">
            <button class="nav_button">Global</button>
        </a>
        <a href="{% url 'follower' %}" id="id_nav_follower_stream">
            <button class="nav_button">Follower</button>
        </a>
        <a href="{% url 'myProfile' %}" id="id_nav_profile">
            <button class="nav_button">{{ request.user.first_name }} {{request.user.last_name}}</button>
        </a>       
    </div>
    
{% endblock %}

{% block content %}
    <div>
        <h1 id="id_page_name" >Profile Page for {{request.user.first_name }} {{request.user.last_name}}</h1>
        {% if not user.profile.picture %}
            {% load static %}
            <img src="{% static 'socialnetwork/default.jpg' %}" id="id_user_picture"></br>
        {% else %}
            <img src="{% url 'photo' user.id %}" id="id_user_picture"></br>
        {% endif %}

        
        
        <form method="post" action="{% url 'myProfile' %}" name="myProfile" enctype="multipart/form-data">
            <table>
                {{form}}
            </table>
            {% csrf_token %}
            <button class="submit" type="submit" id="id_update_profile_button">Submit</button>
        </form>


        <div>
            You are following:
            <ul>
                {% for u in profile.following.all %}
                    <li>
                        <a href="{% url 'otherProfile' u.id %}" id="id_profile_link_{{u.username}}">* {{u.first_name}} {{u.last_name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div> 
{% endblock %}